<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash.notice %>
    <p class="flash">
      <%= flash.notice %>
    </p>
  <% end %>

  <div id="container">
    <div id="content">
      <%= yield %>
       
      <h6 class="login">
        <%= link_to "Authors", authors_path, class: "alink" %>
        <% if logged_in? %>
          <span class='gray'> <%= "Logged in as #{current_user.email}" %> </span>
          <%= link_to "LogOut", logout_path, class: "alink" %>
        <% else %>
          <% if @authors.count.positive? %>
            <%= link_to "LogIn", login_path, class: "alink" %>
          <% end %>
        <% end %>
      </h6>
    </div>
  </div>
 </body>
</html>
