<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash.notice %>
    <p class="flash">
      <%= flash.notice %>
    </p>
  <% end %>

  <div id="container">
    <div id="content">
      <%= yield %>
      <hr class="margined">
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "LogOut", logout_path, class: "align_right" %>
        <% else %>
          <%= link_to "(LogIn)", login_path %>
        <% end %>
      </h6>
    </div>
  </div>
 </body>
</html>
